@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.carousel {
    width: 60vw !important;
    height: 40vh !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.textCarousel h3 {
    font-family: 'Pattaya', sans-serif !important;
}

.textCarousel p {
    font-family: 'Roboto', sans-serif !important;
}

.carouselItem {
    position: relative;
    width: 60vw;
    height: 40vh;
    background: no-repeat center/cover;
}
