@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.column {
    position: relative;
    flex: 1 1 400px;
    min-height: 410px;
    min-width: 490px;
    max-width: 600px;
}

.container-form {
    display: flex;
    height: 100vh;
    flex-flow: row wrap-reverse;
    align-items: stretch;
    justify-content: center;
}

div.container-form {
    background: url("/src/assets/images_loginPage/fonser.png") no-repeat center/cover fixed;
}